// GENERAL SECTION STYLES
.about,
.links,
.journey,
.blogPage,
.contactPage {
  background-color: $quaternary;
  padding: 100px 0;
}

// HOME PAGE STYLES

// WHO'S HARPER SECTION SYTLES
.about {
  padding-top: 110px;

  .wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .aboutContainer {
    width: 53%;

    p {
      padding: 25px 0;
    }
  }
}

// FILLER SECTION STYLES
.filler {
  height: 80vh;
  background-image: url("../assets/home-image-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// LINK SECTION STYLES
.linksList {
  display: flex;
  flex-wrap: wrap;
  
  li {
    width: 50%;
    
    h3::before {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 2px 15px;
      background-position: center;
      background: $tertiary;
      border-radius: 50%;
      margin-right: 20px;
    }
    
    .linkPhotos::before {
      content: url("../assets/image.svg");
    }
    
    .linkAbout::before {
      content: url("../assets/user.svg");
    }
    
    .linkBlog::before {
      content: url("../assets/desktop.svg");
    }
    
    .linkContact::before {
      content: url("../assets/phone.svg");
      transform: rotate(270deg);
    }
    
    p {
      padding: 20px 30px 50px 75px;
    }
  }
}

// BLOG SECTION STYLES
.blogFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  .blogImageContainer,
  .blogTextContainer {
    width: 50%;
  }
  
  .blogTextContainer p {
    padding: 25px 0;
  }
  
  .blogText1{
    padding-left: 100px;
  }
  
  .blogText2 {
    padding: 30px 100px 0 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    
    a {
      align-self: flex-end;
    }
  }
  
  .blogImage1 img {
    box-shadow: 
      20px 20px $primary, 
      -300px 20px $primary;
    position: relative;
    bottom: 50px;
  }
  
  .blogImage2 img {
    box-shadow: 
      15px 20px $tertiary, 
      300px 20px $tertiary;
    position: relative;
    top: 30px;
  }
}

// HARPER'S JOURNEY SECTION
.journey {
  padding: 150px 0;
}

.journeyFlex {
  display: flex;
  justify-content: space-between;
  
  .journeyText {
    width: 65%;
  }
  
  p {
    padding: 20px 0;
  }

  img {
    box-shadow: 15px 15px $secondary;
  }
}

// GALLERY SECTION
.gallery {
  padding: 100px 0;
 
  ul {
  display: flex;
  gap: 40px;
  
    li {
      width: calc(100% / 3);
    }
  }
}

// BLOG PAGE STYLES
.blogPageFlex {
  display: flex;    
  gap: 40px;
  
  aside {
    width: 30%;

    div {
      background-color: white;
    }

  .aboutHarper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .recent {
    padding: 30px;
  }

  .recentList {
    list-style-type: disc;
    margin: 20px 0 20px 20px;

    li {
      padding-left: 15px;

      &::marker {
        font-size: 0.6rem;
      }
    }
  }
  }

  main {
    width: 70%;

    h3 {
      margin-bottom: 15px;
    }
    p {
      padding: 5px 0;
    }
  }

  .travel,
  .comment {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
  }

  .travel,
  .comment2 {
    border-bottom: 5px solid $secondary;
  }

  .comment {
    display: flex;
  }

  .commentImgContainer {
    width: 13%;
  }
  .commentTextContainer {
    width: 87%;
    margin-left: 20px;
  }
}

// CONTACT PAGE STYLES
.contactFlex {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  aside {
    width: 30%;
    background-color: white;
    padding: 50px 30px;
  }

  main {
    width: 70%;
  }

  .socialIcons {
    display: flex;
    gap: 30px;
    i {
      color: $secondary;
      font-size: 1.3rem;
    }
  }

  .infoEmail {
    font-weight: bold;
    margin: 20px 0;
    font-family: inherit;
  }
}