@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 80px;
  font-size: 4rem;
  color: #171717;
  line-height: 92px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h2,
.logo {
  font-size: 42px;
  font-size: 2.1rem;
  color: #171717;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-size: 1.6rem;
  color: #171717;
  line-height: 38px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-size: 1.2rem;
  color: #171717;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

button,
a.button {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

nav a {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: regular;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: regular;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: regular;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: regular;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

p,
.skipLink,
input::placeholder,
address,
textarea::placeholder,
aside li {
  font-size: 20px;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: regular;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  text-transform: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

address {
  font-style: normal;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

button,
a.button {
  background-color: #f38d8d;
  border: none;
  display: inline-block;
  padding: 5px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus,
a.button:hover,
a.button:focus {
  background-color: #227284;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.skipLink {
  padding: 10px;
  background-color: #f6f6f6;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  left: -100%;
  outline: solid 2px #227284;
}
.skipLink:focus {
  left: 0;
}

.mainNav {
  width: 100%;
  padding: 10px;
  background-color: #b9dde7;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainNav a:hover, .mainNav a:focus {
  color: #f6f6f6;
  outline: solid 2px #68b0c1;
}

.homeHead {
  background-color: #b9dde7;
  height: 100vh;
  padding-top: 50px;
}
.homeHead h1 {
  font-size: 7rem;
  line-height: normal;
  position: relative;
  bottom: 50px;
  left: 75px;
}
.homeHead h1::after {
  content: url(../assets/circle-text.png);
  position: absolute;
  right: -50px;
  bottom: 25px;
}
.homeHead .headerImgContainer {
  width: 40%;
}
.homeHead img {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogHead {
  height: 50vh;
  background: url("../assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.blogHead h1 {
  position: absolute;
  bottom: -35px;
}

.about,
.links,
.journey,
.blogPage,
.contactPage {
  background-color: #f6f6f6;
  padding: 100px 0;
}

.about {
  padding-top: 110px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about .aboutContainer {
  width: 53%;
}
.about .aboutContainer p {
  padding: 25px 0;
}

.filler {
  height: 80vh;
  background-image: url("../assets/home-image-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.linksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.linksList li {
  width: 50%;
}
.linksList li h3::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 2px 15px;
  background-position: center;
  background: #b9dde7;
  border-radius: 50%;
  margin-right: 20px;
}
.linksList li .linkPhotos::before {
  content: url("../assets/image.svg");
}
.linksList li .linkAbout::before {
  content: url("../assets/user.svg");
}
.linksList li .linkBlog::before {
  content: url("../assets/desktop.svg");
}
.linksList li .linkContact::before {
  content: url("../assets/phone.svg");
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.linksList li p {
  padding: 20px 30px 50px 75px;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogFlex .blogImageContainer,
.blogFlex .blogTextContainer {
  width: 50%;
}
.blogFlex .blogTextContainer p {
  padding: 25px 0;
}
.blogFlex .blogText1 {
  padding-left: 100px;
}
.blogFlex .blogText2 {
  padding: 30px 100px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogFlex .blogText2 a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.blogFlex .blogImage1 img {
  -webkit-box-shadow: 20px 20px #68b0c1, -300px 20px #68b0c1;
          box-shadow: 20px 20px #68b0c1, -300px 20px #68b0c1;
  position: relative;
  bottom: 50px;
}
.blogFlex .blogImage2 img {
  -webkit-box-shadow: 15px 20px #b9dde7, 300px 20px #b9dde7;
          box-shadow: 15px 20px #b9dde7, 300px 20px #b9dde7;
  position: relative;
  top: 30px;
}

.journey {
  padding: 150px 0;
}

.journeyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journeyFlex .journeyText {
  width: 65%;
}
.journeyFlex p {
  padding: 20px 0;
}
.journeyFlex img {
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}

.gallery {
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.gallery ul li {
  width: 33.3333333333%;
}

.blogPageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.blogPageFlex aside {
  width: 30%;
}
.blogPageFlex aside div {
  background-color: white;
}
.blogPageFlex aside .aboutHarper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 30px;
  margin-bottom: 20px;
}
.blogPageFlex aside .recent {
  padding: 30px;
}
.blogPageFlex aside .recentList {
  list-style-type: disc;
  margin: 20px 0 20px 25px;
}
.blogPageFlex aside .recentList li {
  padding-left: 15px;
}
.blogPageFlex aside .recentList li::marker {
  font-size: 0.6rem;
}
.blogPageFlex main {
  width: 70%;
}
.blogPageFlex main h3 {
  margin-bottom: 15px;
}
.blogPageFlex main p {
  padding: 5px 0;
}
.blogPageFlex .travel,
.blogPageFlex .comment {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}
.blogPageFlex .travel,
.blogPageFlex .comment2 {
  border-bottom: 5px solid #227284;
}
.blogPageFlex .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogPageFlex .commentImgContainer {
  width: 13%;
}
.blogPageFlex .commentTextContainer {
  width: 87%;
  margin-left: 20px;
}

footer {
  background-color: #171717;
}
footer p {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px 0;
}